h1,
h2 {
    background-color: rgb(94, 189, 189);
    color: rgb(244, 239, 239);
    padding: 7px;
}

h1 {
    text-align: center;
}


body {
    background-color: antiquewhite;
    font-family: helvetica, sans-serif
}

button {
    background-color: rgb(140, 128, 231);
    color: rgb(38, 9, 165);
}

button:hover {
    transition: 1.5s;
    background-color: rgb(223, 229, 205);
    color: rgb(216, 17, 230);
    border-radius: 40%;
}

img {
    height: 400px;
    width: auto;
    border-radius: 30px;
    margin: 10px;
}

li,
a {
    color: rgb(5, 5, 193);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}